{% extends "layout.html" %}

{% block style %}
<link href="{{ url_for('static', filename='styles/add_product.css')}}" rel="stylesheet">
{% endblock %}

{% block title %}Add Product{% endblock %}

{% block content %}
    <h1 class="h3 mb-3 font-weight-normal">Add new product</h1>
    <hr>
    <form action="/add_product" method="post">
        <div class="form-group">
            <label for="product_name">Name:</label>
            <input autocomplete="off" class="form-control" name="product_name" id="product_name" placeholder="Add Product Name" type="text">
        </div>

        <div class="form-group">
            <label for="product_price">Price:</label>
            <input autocomplete="off" class="form-control" name="product_price" id="product_price" placeholder="Add Product Price" type="number">
        </div>

        <div class="form-group">
            <label for="product_discount">Stock:</label>
            <input autocomplete="off" class="form-control" name="product_stocks" id="product_stocks" placeholder="Add Product Stock" type="integer">
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea name="description" rows="4"></textarea>
        </div>
    </form>
    <button class="btn btn-lg btn-block btn-primary" type="submit">Add</button>
{% endblock %}