{% extends "layout.html" %}

{% block style %}
        <style>
            h1 {
                position: relative;
                left: 10px;
            }

            table {
                text-align: center;
            }

            thead {
                background-color: black;
                color: white;
            }

            tfoot tr td:first-child {
                font-weight: bold;
            }

            tfoot tr td:nth-child(2)::after {
                content: 123;
            }

            div {
                text-align:center;
            }
        </style>
{% endblock %}

{% block title %}Cart{% endblock %}

{% block money %}
    {% if user_cash != 0 %}
        Cash:
        <i class="fas fa-coins"></i>
        {{ user_cash }}
    {% endif %}
{% endblock %}

{% block content %}
    <br>
    <h1 class="h3 mb-3 font-weight-normal">Cart</h1>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Price (HKD)</th>
                <th scope="col">Discount (%)</th>
                <th scope="col" colspan="2">Action</th>
            </tr>
        </thead>

        <tbody>
            {% for item in cart_items %}
            <tr>
                <td>{{ item["name"] }}</td>
                <td>${{ item["price"] }} </td>
                <td>{{ (item["discount"]*100) }}% </td>
                <td>
                    <a href="{{ url_for('cart', remove_product_id=item["id"])}}" class="btn btn-outline btn-info" role="button" aria-disabled="true">Remove</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

        <tfoot>
            <tr class="table-secondary" style="color:black;">
                <td>Total Price (HKD)</td>
                <td>${{ cart_total_price }}</td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>

    <div>
        <a href="/buy" class="btn btn-outline btn-lg btn-info" role="button" aria-disabled="true">Confirm Purchase</a>
    </div>
{% endblock %}