{% extends "layout.html" %}

{% block title %}
    Market
{% endblock %}

{% block money %}
    {% if user_cash != 0 %}
        Cash:
        <i class="fas fa-coins"></i>
        {{ user_cash }}
    {% endif %}
{% endblock %}

{% block content %}
        <div class="row" style="color:black; margin-top:50px;">
            {% for product in market_info %}
            <div class="cards">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="static/images/{{ product["name"] }}.jpg" alt="{{product["name"]}}">
                    <div class="card-body">
                        <h6>{{ product["name"] }}</h6>
                        <p>Price: $ {{ product["price"] }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ url_for('add_to_cart', product=product["name"])}}" class="btn btn-warning" role="button">Add to Cart</a>
                        <a href="{{ url_for('single_product', product=product["name"])}}" class="btn btn-info" role="button">More Info</a>
                    </div>
                </div>
                <br>
            </div>
            {% endfor %}
        </div>
{% endblock %}