{% extends "layout.html" %}

{% block style %}
<link href="{{ url_for('static', filename='styles/order_info.css')}}" rel="stylesheet">

        </style>
{% endblock %}

{% block title %}Order Info{% endblock %}

{% block money %}
    {% if user_cash != 0 %}
        Cash:
        <i class="fas fa-coins"></i>
        {{ user_cash }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="h3 mb-3 font-weight-normal">Order Info: {{ order_id }}</h1>
        <hr>
        <table class="table table-hover" >
            <thead>
                <tr>
                    <th scope="col" style="text-align:center">Product Name</th>
                    <th scope="col" style="text-align:center">Price (HKD)</th>
                </tr>
            </thead>

            <tbody>
                {% for product in order_info %}
                <tr>
                    <td style="text-align:center"> {{ product["name"] }}</td>
                    <td style="text-align:center"> ${{ product["price"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="/history" class="btn btn-outline btn-info" role="button">Back to History</a>
    </div>
{% endblock %}
