.container {
    text-align: center;
     margin-top: 50px;
}

.container hr {
    margin-top: 20px;
    margin-bottom: 50px;
}

.container a[href="/add_product"] {
    display: block;
    margin-top: 25px;
}

table {
    text-align: center;
}

thead {
    background-color: black;
    color: white;
}