.container {
    text-align: center;
     margin-top: 50px;
}

.container hr {
    margin-top: 20px;
    margin-bottom: 50px;
}

label {
    text-align: left;
    display: block;
}

textarea {
    width: 100%;
}